div {
    background-color: beige;
    margin: 1px;
    padding: 2px;
}

header,
main,
footer {
    display: flex;
    flex-direction: column;
    font-family: aleo;
}

@media (min-width: 601px) {
    header,
    main,
    footer {
      flex-direction: row;
    }

}
@media (max-width: 600px) {
    .contact {
        order: 1;  /* Flyttar "Kontakta mig" längst ner */
    }
    .left, .right {
        order: 0;  /* Återställer ordningen för de andra sektionerna */
    }
}


.left {
    flex-basis: 50vw;
    background-color: darkbrown;
}
.topleft {
    flex-basis: 50vw;
    background-color:darkbrown;
}

.topright {
    flex-basis: 50vw;
    background-color:antiquewhite;
    padding: 30px;
    
}

.h3undername {
    text-align: center;
}

.right {
    flex-basis: 50vw;
    background-color: white;
}

img {
    width: 60%;
    height: auto;
    border-radius: 100%;
    padding: 30px;
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
    background-color: rgb(99, 99, 99);
    padding: 5px;
    margin: 0;
}

h3 {
    text-align: left;
}
p {
    text-align: left;
    
}