name: Generate PDF CV

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install puppeteer

      - name: Generate PDF from CV
        run: |
          node <<EOF
          const puppeteer = require('puppeteer');

          (async () => {
            const browser = await puppeteer.launch({ 
              headless: true, 
              args: ['--no-sandbox', '--disable-setuid-sandbox']  // Lägg till dessa argument
            });
            const page = await browser.newPage();
            const path = require('path');

            await page.goto(`file://${path.resolve('index.html')}`, {
              waitUntil: 'load'
            });
            await page.pdf({
              path: 'Patrik_Hildenborg_CV.pdf',
                width: '300mm',    // Bredd kan justeras fritt – layouten är responsiv
                height: '470mm',   // Fast höjd – ger tillräckligt med utrymme för hela sidan inkl. fot
                scale: 0.80,  // Skala för att passa innehållet på sidan
              printBackground: true,
              margin: {
                top: '0px',
                bottom: '0px',
                left: '0px',
                right: '0px'
              }
            });
            await browser.close();
          })();
          EOF

      - name: Create pdf folder if it doesn't exist
        run: mkdir -p pdf  # Skapa mappen om den inte finns

      - name: Move PDF to pdf folder
        run: mv Patrik_Hildenborg_CV.pdf pdf/Patrik_Hildenborg_CV.pdf  # Flytta PDF till rätt mapp

      - name: Commit and push PDF to GitHub Pages
        run: |
          git config --global user.name "Hilden202"  # Sätt Git-användarnamn
          git config --global user.email "phildenborg@gmail.com"  # Sätt Git-e-postadress
          git add pdf/Patrik_Hildenborg_CV.pdf  # Lägg till PDF-filen i Git
          git commit -m "Update CV PDF"  # Gör commit
          git push https://$GITHUB_ACTOR:${{ secrets.PERSONAL_ACCESS_TOKEN }}@github.com/Hilden202/CV.git HEAD:main

      - name: Upload generated PDF
        uses: actions/upload-artifact@v4
        with:
          name: CV-PDF
          path: pdf/Patrik_Hildenborg_CV.pdf  # Ladda upp filen som artifact